@model             PersonModel

@{
    Layout = "_adminLteLayout";
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PersonModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Race)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Race)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Religion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrcNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrcNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.POB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.POB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height_ft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height_ft)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height_in)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height_in)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BloodType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BloodType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistinguishMark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistinguishMark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JoinDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JoinDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrevOccupation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrevOccupation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherQualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherQualification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TownshipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TownshipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Heir_Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Heir_Person)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.duty_start)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.duty_start)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.insurance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.insurance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.policyno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.policyno)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PersonId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
